.DS_Store
Thumbs.db
*.log

node_modules/
.idea/
.vscode/

.github/
lib/
test/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md
SECURITY.md

.git/
terser.config.json
eslint.config.ts
.editorconfig
.prettierrc
.prettierignore
tsconfig.json
